<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Movie Finder</title>
    <link href="../CSS/moviefinder.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h1 style="text-align:center">Movie Finder</h1>
    <div style="text-align: center; padding:20px" id="welcomeText">
        If you are seeing this page, my API key hit a request limit and therefore could not complete the search.  Try waiting a few more seconds between each
        search.  Click <a href="index.aspx">here</a> to try again.
    </div>
</body>

</html>